### Note
* Instructions have been included for each segment. You do not have to follow them exactly, but they are included to help you think through the steps.

In [17]:
# Dependencies and Setup
import pandas as pd

# File to Load (Remember to Change These)
file_to_load = "Resources/purchase_data.csv"

# Read Purchasing File and store into Pandas data frame
purchase_data = pd.read_csv(file_to_load)
purchase_data.head()

,Purchase ID,SN,Age,Gender,Item ID,Item Name,Price
0,0,Lisim78,20,Male,108,"Extraction, Quickblade Of Trembling Hands",3.53
1,1,Lisovynya38,40,Male,143,Frenzied Scimitar,1.56
2,2,Ithergue48,24,Male,92,Final Critic,4.88
3,3,Chamassasya86,24,Male,100,Blindscythe,3.27
4,4,Iskosia90,23,Male,131,Fury,1.44

## Player Count

* Display the total number of players

In [11]:
# use the function n.unique to find the number of unique names in the players column
total_players = purchase_data["SN"].nunique()
print(total_players)

576

## Purchasing Analysis (Total)

* Run basic calculations to obtain number of unique items, average price, etc.


* Create a summary data frame to hold the results


* Optional: give the displayed data cleaner formatting


* Display the summary data frame

In [19]:
# find the number of unique items and place that value in the column called unique items, you may potentially have 
number_items = purchase_data["Item Name"].nunique()
print(number_items)
#to initialize this variable and create a new column called the number of unique items
# find average price using sum of the price of each item / number of unique items and create a column called 
#Average Price
average_price = purchase_data["Price"].mean()
average_price

# find the total number of purchases and create a new column called Number of Purchases
total_purchase_number = purchase_data["Purchase ID"].count()
total_purchase_number
# sum the total price of the purchases and put in new column called total revenue
total_revenue = purchase_data["Price"].sum()
total_revenue

179

2379.77

In [22]:
# create summary table with these parameters in it. 

summary_table_df = pd.DataFrame([{"Number of Unique Items": number_items, "Average Price": average_price,
                                 "Number of Purchases": total_purchase_number, "Total Revenue": total_revenue}])
summary_table_df.style.format({"Average Price": "${:,.2f}", "Total Revenue": "${:,.2f}"})

## Gender Demographics

* Percentage and Count of Male Players


* Percentage and Count of Female Players


* Percentage and Count of Other / Non-Disclosed

In [31]:
# find total number of players
gender_group_df = purchase_data.groupby(["Gender"])
gender_group_df.first()
# find total number of male players (could use groupby here)
total_gender_players = gender_group_df["SN"].nunique()
total_gender_players
# find total number of female players
# find total number of other/non-disclosed gendered players
# find percentage of male, female, and other/non-disclosed gendered players
percent_gender_players = total_gender_players / total_players * 100


# create a new data frame that contains rows of male, female, and other/non-disclosed and columns of total count
#and percentage
summary_gender_table_df = pd.DataFrame({"Total Count": total_gender_players, "Percentage of Players": percent_gender_players})
                                 
summary_gender_table_df.style.format({"Percentage of Players": "{:,.2f}%"})

# print data frame


## Purchasing Analysis (Gender)

* Run basic calculations to obtain purchase count, avg. purchase price, avg. purchase total per person etc. by gender




* Create a summary data frame to hold the results


* Optional: give the displayed data cleaner formatting


* Display the summary data frame

In [54]:
# find purchase count per male, female, and other/non-disclosed gendered people
purchase_count = gender_group_df["Purchase ID"].count()

# find average purchase price per male, female, and other/non-disclosed gendered people
average_purchase = gender_group_df["Price"].mean()
average_purchase
# find total purchase value per male, female, and other/non-disclosed gendered people
total_purchase_value = gender_group_df["Price"].sum()

# find average total purchases per male, female, and other/non-disclosed gendered people by taking total purchase
#value / number of persons in the gendered group
average_purchase_total_per_gender = total_purchase_value / total_gender_players 
average_purchase_total_per_gender
# make a data frame including all of the above parameters (purchase count, avg purchase price, total purchase value,
#and average total purchase per person) in rows grouped by gender
gender_purchasing_analysis_df = pd.DataFrame({"Purchase Count": purchase_count, "avg purchase price": average_purchase,
                                              "total purchase value": total_purchase_value, "average total purchase per person":
                                               average_purchase_total_per_gender})
                                 
gender_purchasing_analysis_df.style.format({"avg purchase price": "${:,.2f}",
                                            "total purchase value": "${:,.2f}", 
                                            "average total purchase per person":"${:,.2f}"
                                           })

# print this data frame

## Age Demographics

* Establish bins for ages


* Categorize the existing players using the age bins. Hint: use pd.cut()


* Calculate the numbers and percentages by age group


* Create a summary data frame to hold the results


* Optional: round the percentage column to two decimal points


* Display Age Demographics Table

In [42]:
age_bins = [0,9,14,19,24,29,34,39,100]
age_bin_names = ["<10", "10-14", "15-19", "20-24", "25-29", "30-34", "35-39", "40+"]


# create columns of total count and percentage of players in each bin
# find the number of players in each of these bins
purchase_data["Ages"] = pd.cut(purchase_data["Age"], age_bins, labels = age_bin_names)
# purchase_data.head() // did this to see if I got a new "Ages" column

age_group_df = purchase_data.groupby("Ages")
# age_group_df.first() // did this to see if the purchase data was actually grouped by ages

total_age_players = age_group_df["SN"].nunique()
# total_age_players // called to check the values against the starter code

# find the percentage of players in each bin 
percent_age_players = total_age_players / total_players * 100
# percent_age_players // called to check the values against the starter code

# create a new data frame that contains these parameters

summary_age_table_df = pd.DataFrame({"Total Count": total_age_players, 
                                     "Percentage of Players": percent_age_players})
                                 
summary_age_table_df.style.format({"Percentage of Players": "{:,.2f}%"})
# print data frame

## Purchasing Analysis (Age)

* Bin the purchase_data data frame by age


* Run basic calculations to obtain purchase count, avg. purchase price, avg. purchase total per person etc. in the table below


* Create a summary data frame to hold the results


* Optional: give the displayed data cleaner formatting


* Display the summary data frame

In [56]:
# find the total number of purchases per age group
purchase_count_age = age_group_df["Purchase ID"].count()
purchase_count_age

# # find average purchase price per age group
average_purchase_age = age_group_df["Price"].mean()
average_purchase_age

# find total purchase value per age group
total_purchase_value_age = age_group_df["Price"].sum()
total_purchase_value_age

# find average total purchases per age group per person by total purchase value/number of players in the age group
average_total_purchase_age = total_purchase_value_age / total_age_players
average_total_purchase_age

# create new data frame for age specific values of columns specified above
# columns include purchase count, avg purchase price, total purchase value, and avg total purchase per person
age_purchasing_analysis_df = pd.DataFrame({"Purchase Count": purchase_count_age, 
                                           "Average Purchase Price": average_purchase_age,
                                            "Total Purchase Value": total_purchase_value_age, 
                                            "Average Total Purchase per Person": average_total_purchase_age
                                          })
                                 
age_purchasing_analysis_df.style.format({"Average Purchase Price": "${:,.2f}",
                                         "Total Purchase Value": "${:,.2f}",
                                         "Average Total Purchase per Person": "${:,.2f}"
                                        })


# print data frame

## Top Spenders

* Run basic calculations to obtain the results in the table below


* Create a summary data frame to hold the results


* Sort the total purchase value column in descending order


* Optional: give the displayed data cleaner formatting


* Display a preview of the summary data frame

In [116]:
# find purchase count per player using unique screen names (.groupby on serial number "SN")
player_name_group_df = purchase_data.groupby(["SN"])
player_name_group_df.first()

purchase_count_SN = player_name_group_df["Item Name"].nunique()
purchase_count_SN


# find total purchase value per player (.count())
total_purchase_value_SN = player_name_group_df["Price"].sum()
total_purchase_value_SN

# find average purchase price by performing total purchase value/ purchase count per player (.mean())
average_purchase_value_SN = player_name_group_df["Price"].mean()
average_purchase_value_SN

# add all of these specifications into a new data frame with the columns purchase count, avg purchase price, and
#total purchase value
SN_purchasing_analysis_df = pd.DataFrame({"Purchase Count": purchase_count_SN, 
                                           "Average Purchase Price": average_purchase_value_SN,
                                            "Total Purchase Value": total_purchase_value_SN
                                          })

sorted_SN_df = SN_purchasing_analysis_df.sort_values(by = "Total Purchase Value", ascending= False)

sorted_SN_df.head(5).style.format({"Average Purchase Price": "${:,.2f}",
                           "Total Purchase Value": "${:,.2f}"
                           })

## Most Popular Items

* Retrieve the Item ID, Item Name, and Item Price columns


* Group by Item ID and Item Name. Perform calculations to obtain purchase count, average item price, and total purchase value


* Create a summary data frame to hold the results


* Sort the purchase count column in descending order


* Optional: give the displayed data cleaner formatting


* Display a preview of the summary data frame

In [115]:
# find item id, item name, and item price 


popular_items_df = purchase_data.groupby(["Item ID", "Item Name"])
popular_items_df.first()
 
# find purchase count, avg item price, and total purchase value by item ID
popular_purchase_count = popular_items_df["Item ID"].count()

popular_average_price = popular_items_df["Price"].mean()
popular_average_price

popular_total_purchase = popular_items_df["Price"].sum()
popular_total_purchase

# print the data frame head in descending order of the purchase count column
popular_purchasing_analysis_df = pd.DataFrame({"Purchase Count": popular_purchase_count, 
                                               "Item Price": popular_average_price,
                                               "Total Purchase Value": popular_total_purchase
                                              })

sorted_popular_df = popular_purchasing_analysis_df.sort_values(by = "Purchase Count", ascending= False)

sorted_popular_df.head(5).style.format({"Item Price": "${:,.2f}",
                           "Total Purchase Value": "${:,.2f}"
                         })

## Most Profitable Items

* Sort the above table by total purchase value in descending order


* Optional: give the displayed data cleaner formatting


* Display a preview of the data frame

In [117]:
# sort the above data frame by total purchase value in descending order and print (ascending/descending)
re_sorted_popular_df = popular_purchasing_analysis_df.sort_values(by = "Total Purchase Value", ascending= False)
re_sorted_popular_df

re_sorted_popular_df.head(5).style.format({"Item Price": "${:,.2f}",
                           "Total Purchase Value": "${:,.2f}"
                         })